.landing_page{
	
	#landing_wrapper{
		position: absolute; /* or absolute */
	  left: 0;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  background-image:url(../images/city.jpg);
	  background-repeat: no-repeat;

	  #landing_border{

	  	#landing_form{
	  		width: 65%;
	  		margin-left: 18%;

			}

	  	img{
	  		margin-left: 22%;
	  	}

	  	h5,h6{
	  		text-align: center;
	  	}

	  	h5{
	  		color: orange;
	  	}

	  	h6{
	  		color: white;
	  	}

	  	#btn_signup{
	  		float: right;
	  		width: 35%;
	  		margin-right: 20px;
	  	}

	  	#btn_login{
	  		margin-left: 20px;
	  		width: 35%;
	  		
	  	}
	  }
	}
}

@import 'applicant';
@import 'webcam';